body {
    background-color: #cac6b1;
    /*background: 
	  linear-gradient(0deg, rgb(119, 119, 179), rgba(0,0,0,0));*/
    font-family: 'Courier New', Courier, monospace;
    /*background: radial-gradient(at center bottom, rgb(245, 245, 244), rgb(254, 215, 170), rgb(227, 236, 245));*/
  }

.div1{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;   
    text-align:center;
}

.div2{
  display: flex;
  justify-content: center;
  text-align:center;
  margin-top: 2em;
}

.notblu
{
   color:black;
   text-decoration: none; 
   background-color: none;
}