body {
    background-color: #cac6b1;
    /*background: 
	  linear-gradient(0deg, rgb(119, 119, 179), rgba(0,0,0,0));*/
    font-family: 'Courier New', Courier, monospace;
    /*background: radial-gradient(at center bottom, rgb(245, 245, 244), rgb(254, 215, 170), rgb(227, 236, 245));*/
    background-image: url("doss/noise-light.png");
  }

.div1{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;   
    text-align:center;
}

.div2{
  display: flex;
  justify-content: center;
  text-align:center;
  margin-top: 2em;
  font-weight: bold;
}

.div3{
  display: flex;
  justify-content: center;
  text-align:center;
  margin-top: 10em;

  width: 50%;
  border: 15px solid rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
}

.div4{
  display: flex;
  justify-content: center;
  text-align:center;
  margin-top: 2em;

  width: 50%;
  border: 15px solid rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
}

.notblu
{
   color:black;
   text-decoration: none; 
   background-color: none;
}

.grey{
  color: grey;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D; /* Green */
}

.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: 'Courier New', Courier, monospace;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}